@{
    ViewData["Title"] = "Firebase Brands Record Management";
    @model Firebase_a.Models.Brand;
}

<div class="text-center">
    <h5 class="display-5">Let's manage brands records</h5>

  <div class="row">
        <div class="col-md-12">
            <h3>Add Brand</h3>
             @using (Html.BeginForm("Brand","Firebase",FormMethod.Post))
            {
                <div class="form-group">
                    <label for="brandName">Brand Name</label>
                    @Html.TextBoxFor(a=>a.name,new{@class="form-control",@id="brandName", aria_describedby="brandNameHelp", @placeholder="Brand Name"})
                    <small id="brandNameHelp" class="form-text text-muted">Write the brand name.</small>
                </div>
               <div class="form-group">
                    <label for="webSite">Web Site</label>
                    @Html.TextBoxFor(a=>a.website,new{@class="form-control",@id="webSite", aria_describedby="webSiteHelp", @placeholder="Web Site"})
                    <small id="webSiteHelp" class="form-text text-muted">Write the web site.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            }
             @using (Html.BeginForm("BrandDelete","Firebase",new{@id=ViewBag.ItemID}))
            {
                <button type="submit" class="btn btn-danger">Delete</button> 
            }
        </div>
    </div>
</div>
